attrs==20.3.0
beautifulsoup4==4.14.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
check50==3.4.0
cryptography==46.0.3
emoji==2.15.0
idna==3.11
jellyfish==1.2.1
Jinja2==3.1.6
lib50==3.1.4
MarkupSafe==3.0.3
packaging==25.0
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.23
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
setuptools==80.9.0
soupsieve==2.8
submit50==3.2.1
termcolor==1.1.0
typing_extensions==4.15.0
urllib3==2.5.0
